#overoverlay{
    top:64px;
    left:0px;
    position:absolute;
    height:100%;
    width:100%;
}
#overoverlay > .container > p{
    font-size: 20px;
    display: inline-block;
    position: absolute;
}
#overoverlay > .container > #room0{
    margin-left: 37%;
    margin-top: 19%;
}
#overoverlay > .container > #room1{
    margin-left: 31%;
    margin-top: 19%;
}
#overoverlay > .container > #room2{
    margin-left: 7%;
    margin-top: 24%;
}
#overoverlay > .container > #room3{
    margin-left: 59%;
    margin-top: 19%;
}
#overoverlay > .container > #room4{
    margin-left: 24%;
    margin-top: 11%;
}